@font-face {
    font-family: Fabfont;
    src: url(../fonts/OpenSans-Light.ttf);
}

body {
    background-color: #EEEEEE;
    color : #444444;
    -webkit-user-select: none;

}

h1 {
    margin-top:0;
    padding-top: 5px;
    font-family: Fabfont;
    font-weight: 100;
    color: #EEEEEE;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8em;
}
nav{
    background-color: #2E3865;
    height: 50px;
    box-shadow: 0 3px 5px 0 rgba(188,188,188,1);
}


.abort_button{
    float: right;
    display: block;
    top: 0;
    position: absolute;
    right: 0;
    background: rgb(57, 68, 121);
    color: #EEEEEE;
    height: inherit;
    padding: 15px;
}

.settings_button{
    position: absolute;
    top: 0;
    right: 0;
    background :none;
}

.settings_modal{
    background:#EEEEEE;
    padding:40px;
    margin:20px;

}

.settings_modal_close{
    position: absolute;
    right: 0;
    top: 0;
    background :none;
}

.settings_save_button{
    position: absolute;
    background: #5DAA35;
    color: #EEEEEE;
    right: 10%;
}

.error_button{
    background: #91331E;
    color: #EEEEEE;
}
.done_button{
    background: #2E3865;
    color: #EEEEEE;
}

h3 {
    font-family: Fabfont;
    }

p {
    font-family: Fabfont;
}

.pure-button {
    display: block;
}

.panel{
    position: relative;
    background-color: #F6F6F6;
    margin: .7em;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 rgba(188,188,188,1);
    height: 130px;
}

.panelHeader{
  padding-bottom: 20px;
}

.toolName {
    display: inline-block;
    font-family: Fabfont;
    font-size: 1.5em;
}


.scroll-box {
  overflow: hidden;
  position: absolute;
  display: inline;
}
.scroll-text {
  position: absolute;
  white-space: nowrap;
}

.toolName-scroll-box{
  width: 60%;
  margin-left: 2em;
  height: 3em;
}

.jobName-scroll-box{
  width: 50%;
  height: 1.5em;
}

.ipAddress {
  margin-left: 2em;
}

.job {
  padding-top: .5em;
}

.job_label{
  margin: .5em
}

.apologies{
    text-align: center;
}

.statusContainer{
    display: inline-block;
    right: 0;
    float: right;
    padding-right: 5em;
}

.statusColor{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1em;
    margin-top: .7em;
}

.statusTitle{
    display: inline-block;
    margin-left: .5em;
    position:absolute;
    margin-top: .5em;
}

.goHere {
    position: absolute;
    top: 50;
    right: 15;
    float: right;
    padding-top: 11px;
    height: 49px;
    width: 60px;
    background-color: #5DAA35;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: Fabfont;
}

.goHere.goUpdater{
    background-color: #000000;
}

.goHere img {
    height: 40px;
}


.wifi {
    position: absolute;
    background-color: #2E3865;
    width: 20px;
    height: 20px;
    top: 5;
    left: 5;
    border-radius: 50%;
}

.wifi img{
    padding-left: 2px;
    padding-top: 2.5px;
}

.minimize_button{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 4px 0 4px;
    background: none;
}

.running{
    background-color: #5DAA35;
}

.paused{
    background-color: #D48B3A;
}

.stopped {
    background-color: #91331E;
}

.idle{
    background-color: #777575;
}

.manual{
    background-color: #2E3865;
}

.crashed {
    background-color: #000000;
}

.job_progress{
    left: 0.1em;
    bottom: 0.35em;
}
